Checks: >-
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -clang-diagnostic-*,
  -concurrency-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -google-readability-*,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*,
  -modernize-*,
  -mpi-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -objc-*,
