Checks: >-
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-narrowing-conversions,
  -bugprone-signed-char-misuse,
  -bugprone-switch-missing-default-case,
  -cert-dcl50-cpp,
  -cert-err33-c,
  -cert-err58-cpp,
  -cert-oop57-cpp,
  -cert-str34-c,
  -clang-diagnostic-*,
  -concurrency-*,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*,
  -misc-*,
  -misc-const-correctness,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -misc-include-cleaner,
  -modernize-*,
  -mpi-*,
  -objc-*,
  -performance-enum-size,
  -readability-identifier-naming,
  -readability-avoid-nested-conditional-operator,
  -readability-container-contains,
  -readability-container-data-pointer,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-named-parameter,
  -readability-redundant-casting,
  -readability-redundant-inline-specifier,
  -readability-redundant-member-init,
  -readability-redundant-string-init,
  -readability-uppercase-literal-suffix,
  -readability-use-anyofallof,
